{% extends "base_generic.html" %}

{% block content %}

<div class="d-flex justify-content-center align-items-center container">
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_text">Add your comment on <a href="{% url 'blogpost-detail' blogpost.pk %}"> {{ blogpost.title }}</a>:</label><br />
            {{ form.text }}
        </div>
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
</div>
{% endblock %}
