{% extends "base_generic.html" %}

{% block content %}
<div class="col-md-8 offset-md-2">
    <h1>{{ blogpost.title }}</h1>
    <h6 class="text-muted"><a href="{{ blogpost.author.get_absolute_url }}">{{ blogpost.author }}</a> on {{ blogpost.post_date }}</h6>
    {% for category in blogpost.categories.all %}
    <a href="{% url 'blogcategoryposts-list' category.name %}" class="badge badge-dark"> {{ category }} </a>
    {% endfor %}
    <p>{{ blogpost.description | linebreaks }}</p>
    <hr />
    <h3>Comments</h3>

    {% if user.is_authenticated %}
    <p class="text-muted"><a href="{% url 'blogcomment-create' blogpost.pk %}">Leave a comment.</a></p>
    {% else %}
    <p class="text-muted"><a href="{% url 'login'%}?next={{request.path}}">Log in</a> to leave a comment.</p>
    {% endif %} {% for comment in blogpost.blogcomment_set.all %}
    <div class="media">
        {% load static %}
        <img class="mr-3" src="{% static 'images/default-avatar.png'%}" width="44" height="44" alt="Default avatar image" />
        <div class="media-body mb-1">
            <a href="{{ comment.author.get_absolute_url }}"><p class="mt-0 mb-0 text-primary">{{ comment.author }}</p></a>
            <small class="text-muted">on {{ comment.comment_date }}</small>
            <p class="mt-0 mb-1">{{ comment.text | linebreaks }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
