{% extends "base_generic.html" %}

{% block content %}
<div class="col-md-8 offset-md-3">
    <h2>Write a blog post</h2>
    <h6 class="text-muted"> {{ blogauthor }} </h6>
 
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br />
            {{ field }}
            {% if field.help_text %}
            <br /><small class="text-muted">{{ field.help_text }}</small>
            {% endif %}
            
            {% for error in field.errors %}
            <h6 class="text-danger">{{ error }}</h6>
            {% endfor %}
        </p>
        {% endfor %}
        <input class="btn btn-primary mb-5" type="submit" value="Post" />
    </form>
</div>
{% endblock %}
 
